/* Media Queries */
@media screen and (max-width: 992px) {
    #navbar-brand {
        color: green;
    }
}
@media screen and (max-width: 768px) {
    #navbar-brand {
        color: blue;
    }
}
@media screen and (max-width: 576px) {
    #navbar-brand {
        color: yellow;
    }

}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media querysince this is the default in bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {  .... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 12000px) { ... }
*/