{% extends "layout.htm" %}


{% block body %}
    <h1>About Us </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam pharetra porta ex, vitae porttitor magna iaculis condimentum.
        Nullam porttitor, velit at tristique iaculis, tortor felis efficitur erat,
        non imperdiet nibh ex sit amet libero. Ut feugiat ante non lacus imperdiet elementum.
        Donec et lacus quis orci ullamcorper vulputate at in urna.
        Sed et libero tempus, facilisis mi eget, tempus massa.
        Duis egestas nulla lectus, eget scelerisque tortor commodo eu.
        Vivamus diam orci, pulvinar quis justo ac, fringilla rutrum tortor.
        tempus augue turpis, pharetra porttitor ipsum sollicitudin ut.
        Nunc at molestie arcu. Vivamus posuere congue elit.
    </p>
{% endblock %}